/******************************************************** common style *****************************************************/

:root {
  --color-primary: #24cbc8;
  --color-secondary: #ff768b;
  --color-tertiary: #ff7a42;
  --color-primary-darker: #139e9c;
  --color-secondary-darker: #c94559;
  --color-tertiary-darker: #d35e2c;
  --color-primary-opacity: #24cbc856;
  --color-secondary-opacity: #ff768b56;
  --color-tertiary-opacity: #ff7b4256;

  --gradient-primary: linear-gradient(to top left, #139e9c, #24cbc8);
  --gradient-secondary: linear-gradient(to top left, #d35e2c, #ff7a42);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(55, 56, 61);
}

::-webkit-scrollbar-thumb {
  background-color: #24cbc8;
  height: 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

p {
  color: #666;
}

button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}

/******************************************************** Nav bar *****************************************************/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
  animation: revealNav 1.5s 1;
}

@keyframes revealNav {
  from {
    transform: translateY(-5vw);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__links li:last-child a {
  font-weight: 500;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

.nav__toggle {
  display: none;
}
